@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: whitesmoke;
  transition: 0.4s;
}

h1 {
  line-height: 1.2;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid gray;
  margin: 10px 0;
}

table {
  margin: 5px;
}

th, td {
  padding: 2px 6px
}

th {
  background-color: white;
  color: black
}

article p, li p {
  margin-bottom: 10px;
  margin-top: 5px;
}

li.thread-preview {
  list-style-type: none;
  border: 1px solid rgba(255, 255, 255, 0.275);
  box-shadow: 0 0 4px 1px rgba(168, 168, 168, 0.277);
  margin: 19px auto;
  max-width: 900px;
  width: 95%;
  padding: 5px 10px 8px;
  border-radius: 8px;
  background-color: #15171c;
  transition: transform 0.3s linear, box-shadow 0.4s ease-in-out;
}

li.thread-preview:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.242);
}

.thread-description {
  background-color: #15171c;
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px solid rgba(128, 128, 128, 0.415);
  box-shadow: 4px -2px 7px 2px rgba(0, 0, 0, 0.489);
}

.search-results {
  background-color: whitesmoke;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px 5px;
  margin: 0
}

.search-results:hover, .popular:hover, .currentSubreddit {
  background-color: rgb(255, 82, 3);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.subreddit a, .subreddit-link, .trending-subreddit {
  display: inline-block;
  background: linear-gradient(90deg,#db6937 0,#dc3545 100%);
  color: rgb(255, 255, 255);
  padding: 2px 7px;
  margin: 5px 3px 0;
  border-radius: 14px;
  cursor: pointer;
}

.subreddit a:hover, .subreddit-link:hover, .trending-subreddit:hover {
  color: rgb(0, 0, 0);
  scale: 0.9
}

#router-links a.currentSort, a.not-found {
  color: red;
  display: block;
  background: white;
  font-weight: 600;
  border: 1px solid indianred;
  box-shadow: 0 0 6px 2px indianred inset;
}

ul[name="search-results"] {
  border-radius: 7px;
  border: none;
  padding: 0;
  margin: 4px
}

video {
  border-radius: 7px;
  width: fit-content;
  max-width: 100%;
}

main {
  padding-bottom: 50px
}

img {
  max-width: 100%;
  height: auto
}

.flex {
  display: flex;
}

.orange {
  color: orange
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.633); /* Black w/ opacity */
  backdrop-filter: blur(5px);
}

.image-bg {
  position: relative;
  width: 100%;
  /* margin: 0 auto 10px; */
  border-radius: 7px;
}

.image-bg:before {
  content: " ";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  backdrop-filter: blur(6px);
  border-radius: 7px;
}