ul {
    list-style: none;
    padding-left: 20px;
    padding-bottom: 3px;
    margin: 8px 0;
}
.terminal-reply {
    padding-left: 10px;
    margin-bottom: 10px
}

/* Adjust spacing between nested comments */
.reply-header {
  margin: 12px 0 5px 2px;
}
.nested-author {
  font-weight: 900;
  display: inline-block;
}

.user-link {
  text-decoration: underline;
  color: whitesmoke;
}

.user-link:hover {
  background-color: rgb(251, 200, 92);
  padding: 4px 6px;
  border-radius: 4px;
  color: black;
}

ul {
  margin: 0;
}

article {
  background-color: #15171c;
  margin-top: 2px;
  margin-right: 10px;
  margin-bottom: -2px;
  padding: 7px 12px 1px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.296);
}

p {
  margin: 0;
}

button {
    margin-left: 10px;
    opacity: 0;
    color: white
}

.toggle-nested {
    float: left;
    margin-right: 4px;
}