#feeds {
  width: auto;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  margin: 20px 0 0 10px;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1; /* Switched from -1 */
  padding-right: 9px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
  left: 0
}

header svg {
  position: absolute;
  top: 18px;
  left: 160px;
  height: 30px;
  color: #c5535e;
}

input {
  font-size: 15px;
  padding: 7px;
  border: 1px solid rgb(86, 82, 87);
}

input[name="submit"] {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  width: 35%;
  background: linear-gradient(90deg,#db6937 0,#dc3545 100%);
  color: white;
  font-weight: 700;
  text-align: left;
}

input[name="search"] {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  width: 65%;
  padding-left: 10px;
}


input[type="submit"]:enabled:active {
  border: 1px solid yellow;
  background: black;
}

form {
  width: 99%;
  margin: auto
}


.icon, .spinner {
  position: relative;
  right: 27px;
  color: rgb(255, 255, 255);
  margin-right: -15px
}

.spinner {
  height: 25px;
  right: 22%;
}

input.isLoading {
  background: gray;
}

.flex {
  display: flex;
  align-items: center;
}


h3, label {
    margin: 20px 1px 5px;
    font-weight: bold;
    color: white
}

label {
    font-size: 1.17em;
    display: block;
    margin-bottom: 4px
}

ul {
    list-style: none;
    padding: 10px 3px;
    background: linear-gradient(#1E2129, #41495c, #1E2129);
}

ul[name="search-results"] {
  width: 88%;
  margin: auto;
  padding: 0
}

ul[name="popular-subreddits"] {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.router-links {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  justify-content: center;
}

.router-links a {
  flex-grow: 1;
  width: 74px;
  text-align: center;
  margin: 6px;
  padding: 4px;
  border-radius: 7px;
  background: linear-gradient(90deg,#db6937 0,#dc3545 100%);
  transition: transform 0.3s ease-in-out;
}

.router-links a:active {
  background: rgba(168, 167, 167, 0.987);
  color: black;
}

.first {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.last {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.popular {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 6px;
  transition: 0.4s;
}

.subreddit-icon, .alt-icon {
  height: 25px;
  width: 25px;
  position: relative;
  margin: -5px 6px -5px 0;
  display: inline;
  top: 3px;
  border-radius: 50%;
}

.alt-icon {
  color: #c5535e;
  top: 1px;
}

.no-results {
  margin: 4px 0 0 4px;
  color: orange;
  font-style: italic;
}

.banner {
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid rgb(66, 62, 62);
  padding: 16px;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #15171c;
}

.banner:before {
  content: " ";
  display: block;
  position: absolute;   
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.839);
  z-index: -1;
}

.search-users {
  margin: -55px 0 55px;
}

.search-subreddits {
  margin-top: 10px
}

@media (min-width: 1000px) {
  .mobile {
    display: none
  }

  .router-links a:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 1000px) {
  #feeds {
    width: 100%;
    top: 0;
    z-index: 3;
    transform: translate(0, 0);
    background-color: #292d38;
    margin: 0;
    padding: 13px 12px;
    border-bottom: 1px solid rgb(123, 119, 119);
  }

  h3, label {
    margin: 20px 1px 5px;
  }

  .filter {
    margin-top: 7px
  }

  ul {
    background: linear-gradient(90deg,#1E2129, #41495c, #1E2129);
  }

  ul[name="popular-subreddits"] {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  ul[name="popular-subreddits"] li {
    background-color: #585e6b;
    border-radius: 15px;
    margin: 4px;
  }

  ul[name="popular-subreddits"] li:hover {
    background-color: transparent;
  }

  ul[name="search-results"] {
    width: 99%;
    margin: 0 auto;
    padding: 0
  }

 
  input[name="search"] {
    width: 90%;
    padding-left: 14px;
  }

  input[name="submit"] {
    font-size: 14px;
    padding-right: 85px;
    width: 10%;
 }

  .search-results {
    padding: 4px 8px;
  }

  .popular {
    border-radius: 15px;
    padding: 6px 9px;
    margin: -2px 0;
    /**/
   display: flex;
   text-overflow: ellipsis;
  }

  .popular > * {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .subreddit-icon {
    margin-right: 4px;
    top: 4px;
    margin-left: -5px;
  }

  .alt-icon {
    top: 4px;
    margin-left: -3px;
    margin-right: 2px
  }

  .router-links {
    width: 100%
  }

  .router-links a {
    display: inline-block;
    margin: 4px;
    width: 100px
  }

  .icon {
    right: 30px;
    bottom: 0px
  }
}

@media (max-width: 500px) {
  header h2 {
    font-size: 18px;
  }

  header svg {
    left: 130px;
    top: 17px;
    height: 25px;
  }

  .spinner {
    right: 55px;
    padding: 0;
    width: 18px;
  }

  
}

@media (hover: hover) {
  li:hover {
    background-color: rgb(251, 200, 92);
    border-radius: 4px;
    color: black;
  }
}
