main {
  position: relative;
  top: 120px;
  width: 65%;
  margin-left: 320px !important;
  overflow-x: auto;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
  margin-bottom: 15px
}

.comments-heading {
  border-top: 1px solid gray;
  margin: 20px 0 -5px;
  padding-top: 5px
}

.op {
  background-color: black;
  color: white
}

a.external {
  display: block;
  margin: -10px auto 40px;
  color: orange;
}

span {
  font-style: italic;
  font-weight: 700;
}

.svg-icon {
  display: inline;
  margin: -3px 4px;
}

.preview-img, .gallery-img {
  max-height: 600px;
  border-radius: 7px;
  display: block;
  margin: 20px auto;
}

.preview-img {
  margin-top: 30px
}

iframe {
  width: auto
}

video {
  display: block;
  width: 100%;
  max-height: 600px;
  margin: 0 auto
}

.float {
  float: right;
}

.inline {
  display: inline;
  padding: 0;
  margin-right: 15px
}

.flex {
  border-top: 1px solid gray;
  margin-top: 15px;
  padding-top: 8px;
  display: flex;
}

.caption {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: -30px auto 0;
}

.caption p {
  margin-top: -25px;
  position: relative;
  top: 44px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid gray;
  margin: 0 0 30px;
  padding-top: 5px
}

.comment-author {
  display: inline-block;
  color: rgb(32, 32, 90);
  font-weight: 600;
  text-decoration: underline;
  font-size: 16px;
}

.comment-author:hover {
  background-color: rgb(251, 200, 92);
  color: rgb(45, 45, 90);
  padding: 3px 5px;
  border-radius: 4px;
}

.subreddit-link {
  padding: 3px 7px;
  font-size: 19px;
}

.subtitle div {
  min-width: 100px;
  text-align: right;
  padding-right: 4px
}

.embed {
  display: flex;
  justify-content: center;
}

h3 {
    color: black;
    background-color: whitesmoke;
    padding: 5px 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

li:not(li[name="gallery-img"]) {
    border: 1px solid gray;
    margin: 20px auto;
    border-radius: 6px;
}

.thread-description {
  margin-bottom: 30px;
}
.comment-body {
    padding: 10px;
    background-color: #15171c;
    border-bottom: 1px solid rgba(128, 128, 128, 0.478);
    border-radius: 7px;
}

.no-comments {
  margin: 10px 0;
}

li p {
    padding: 0 10px
}

@media (max-width: 1000px) {
  main {
    width: 95%;
    margin: 0 auto 50px !important;
    top: 100px;
  }
}

@media (max-width: 400px) {
  .subtitle {
    font-size: 10px
  }
}