ul{
    list-style: none;
    padding: 0
}

li {
    border: 1px solid gray
}

li.thread-preview {
  width: 100%;
}

h1 {
  width: 95%;
  margin-bottom: 20px;
  font-weight: 900;
}

main {
  width: 60%;
  margin-left: 290px !important;
  margin-top: 50px
}

@media (max-width: 1000px) {
  main {
    width: 95%;
    margin: 90px auto !important;
  }
}